
*{ padding:0px;
   margin:0px;
   box-sizing:border-box;
   }

body{
font-family: monospace;
background-color: #000000;
}

a{ text-decoration:none;}

div#header{
width:100%;
height:50px;
background-color: #2c3e50;
margin:0 auto; 
}

.logo{
float:left;
margin-top:10px;
margin-left:10px;
font-family: monospace}

.logo a {
color:#fff;

font-size:1.6em;
}

.logo a span {
font-weight:300;}

div#container{

width:100%;
margin:0 auto;}

.sidebar{

width:250px;
height:auto;
background-color:#171717;
float:left;
font-size: 20px;}
.content{


width:auto;
height:auto;
color:#FFFFFF;
margin-left:250px;
padding:15px;
background-color:#95a5a6;}


ul#nav{
}

ul  li{
list-style:none;
}


ul#nav li a{
color:#CCCCCC;
display:block;
padding:10px;
font-size:0.8em;
border-bottom:1px solid #0a0a0a;
-webkit-transition:0.2s;
-moz-transition:0.2s;
-o-transition:0.2s;
transition:0.2s;}

ul#nav li a:hover{
background-color:#030303;
color:#fff;
padding-left:30px;
padding-bottom:3px;}


ul#nav li a.selected{
background-color:#030303;
color:#fff;}

ul#sub_menu{
	width: 570px;
border: 5px inset #000000 ;
margin: 0px auto;


}
ul#sub_menu li {

	float: left;
	font-size: 1.5em;
}
ul#sub_menu li a  {color:#CCCCCC;
display:block;
margin-right: 2px;
padding:10px;
font-size:0.8em;
border-bottom:1px solid #0a0a0a;
-webkit-transition:0.2s;
-moz-transition:0.2s;
-o-transition:0.2s;
transition:0.2s;}


ul#sub_menu li a{
	background-color:#030303;
color:#fff;
padding-left:30px;
padding-bottom:3px;
}

#edit_sub_menu{
	width: 570px;
border: 5px inset #000000 ;
margin: 0px auto;}

ul#subject > li > a{
	background-color:#030303;
color:#fff;
padding-left:30px;
padding-bottom:3px;


}
#find_form{
width: 600px;
margin: 0 auto;

}
#subject   {
	float: left;
	font-size: 1.5em;
	padding-left: 2px;


}

#subject >  li > ul { position: absolute; display:none; color:#000066; background-color:#FFFFFF; }
#subject >  li > ul li a{ color:#000066;}
#subject >  li > ul li{ border-bottom:2px #000000;  }
#subject:hover   > li > ul{ display:block;}
.difficulty{ display:none; position:absolute; background-color:#ffffff; }
.difficulty > li > a{ color:#ffffff;}
#chapter:hover >li:hover > ul{ display:block;}
.form{
width: 600px;
margin: 0px auto;
 font-size: 30px; 


}
.styletextfield{
	border: 1px solid #666;
	border-radius: 6px;
	 width: 200px;
	 height: 35px;
	 padding-left: 6px;
}
label , #submit {
	font-family: monospace;
	font-weight: 200;
	font-size: 30px;
}
